
body {
    background-color: darkslategray;
}

img {
    width: 500px; 
    height: 500px; 
    border-radius: 5%;
}

h1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    display: grid;
    justify-items: center;
    align-items: center;
    color:lightcoral;
    font-size: 45px;
}

p {
    color: lightcyan;
    font-size: 30px;
}

footer p {
    display: grid;
    justify-items: center;
    align-items: center;
}